@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  color: #13182C;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}